@import "../../global";

.mainContainer {
    margin-top: -16px;
    margin-bottom: 10px;
    padding: 0 30px;
    box-sizing: border-box;
    width: 100%;
    height: max-content !important;
    text-align: center;
    font-size: 42px;
    font-family: var(--font-open-sans);
    font-weight: bold;
    letter-spacing: 5px;
    color: $primaryColor;

    &.secondary {
        color: $secondaryColor;
    }
}

// - SCREEN SIZES - //

@media (max-width: $smallScreenSize) {
    .mainContainer {
        font-size: 42px !important;
    }
}

@media (max-width: $teenyTinyScreenSize) {
    .mainContainer {
        font-size: 36px !important;
    }
}
